@{
    ViewData["Title"] = "IndexC";
    Layout = "_LayoutClienteVacio";
}

<section id="titulos" class="container-fluid"><h1>Gimnasios</h1></section>
<h5>@Model</h5>
@model Proyecto3LenguajesISemestre_ModuloAdmin_Graciela_Randall.Models.ModelosCliente.GimnasioModel

<table id="tablaGimnasiosCliente" class="table table-striped table-dark">
    <tr>
        <th>Logo</th>
        <th>Nombre</th>
        <th>Ubicacion</th>
        <th>Visualizar</th>
    </tr>
    @foreach (Proyecto3LenguajesISemestre_ModuloAdmin_Graciela_Randall.Models.ModelosCliente.GimnasioModel temp in ViewBag.Gimnasios)
    {
        <tr>
            <td> <img src="~/icons/exercise.svg" width="50" height="50" /> </td>
            <td>@temp.nombre</td>
            <td>@temp.ubicacion</td>
            <form asp-action="loginCliente" method="POST">
                <input type="hidden" name="id_gym" value="@temp.id" />
                <input type="hidden" name="logo_gym" value="@temp.logo" />
                <td><input id="" type="submit" value="Ver" /></td>
            </form>
        </tr>

    }
</table>



